{% extends "base.html" %}
 {% load staticfiles %}
 {% load crispy_forms_tags %}


{% block content %}

<html>
<head>


{% if messages %}

    {% for message in messages %}
      <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
          <strong>{{ message }}</strong>
      </div>
    {% endfor %}

{% endif %}
<title>Login</title>
<script src='{%static "js/jquery.min.js" %}'> </script>

    <link rel="stylesheet" href='{%static "css/jquery_popup.css"%}' />
<script src='{% static "js/jquery_popup.js" %}'></script>
</head>
<body>
<div id="mainform">


<!-- Required div starts here -->
<div class="form" id="popup">
{% ifequal title  "Login"%}
<!--Login Form -->
<div id="logindiv">

 <form class="form" id= "login" method='POST' action='#' enctype='multipart/form-data'>{% csrf_token %}


<h3>{{ title }} Form</h3>
<hr/>
{{ form|crispy }}
<input type="submit" id="loginbtn" value="{{title }}"/>
<input type="button" id="cancel" value="Cancel"/>
<br/>

</form>

</div>

{% else %}
<div class='col-sm-6 col-sm-offset-3'>
<h1>{{ title }}</h1>
<hr/>

<form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
{{ form|crispy }}
<input type='submit' class='btn btn-default' value='{{ title }}' />

</form>

</div>

{% endifequal %}

</div>
    </div>
</body>
</html>









{% endblock content %}