beautifulsoup4==4.6.0
dj-database-url==0.5.0
Django==1.11
django-contrib-comments==1.8.0
django-js-asset==1.0.0
django-mptt==0.9.0
django-tagging==0.4.6
django-xmlrpc==0.1.8
gunicorn==19.7.1
Markdown==2.6.11
mots-vides==2015.5.11
Pillow==5.0.0
psycopg2==2.7.4
pyparsing==2.2.0
python-decouple==3.1
pytz==2018.3
regex==2018.2.21
sorl-thumbnail==12.4.1
whitenoise==3.3.1
requests==2.18.1
Unidecode==0.4.21
urllib3==1.21.1
virtualenv==15.1.0
webencodings==0.5
django-cart==1.0.4
django-celery==3.2.1
django-ckeditor==5.2.1
django-crispy-forms==1.6.1
django-extensions==1.6.7
django-filter==1.0.2
django-qsstats-magic==0.7.2
django-smtp-ssl==1.0
django-appconf==1.0.2
django-autoslug==1.9.3
django-heroku==0.3.1


